Pods/*
.DS_Store

/**/Pods/*
/**/*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/*
/**/*.xcworkspace/xcuserdata/*.xcuserdatad/*
/**/*.xcodeproj/xcuserdata/*.xcuserdatad/*
/**/*/xcuserdata/
TileEditor/
/**/*/.DS_Store
